.largeUnderline {
	text-decoration: underline;
	font-size: 2em;
}

.largeText {
	font-size: 2em;
}

.landingTitle {
	display: inline;
	right: 0;

	border: 1px red solid;
}

@media screen and (max-width: 500px) {
	.landingTitle {
		font-size: 0.5em;
	}

	.largeUnderline {
		font-size: 1em;
	}

	.largeText {
		font-size: 1em;
	}
}
