.header {
	color: var(--text-900);
	font-size: 2rem;
	text-align: center;
}

.subheader {
	color: var(--text-700);
	font-size: 1rem;
	text-align: center;
}

.btnContainer {
	display: flex;
	justify-content: center;
	align-content: center;
}

.getStartedBtn {
	width: 10%;
	height: 10%;
	text-align: center;
}
