.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 1rem;

	position: sticky;
	position: -webkit-sticky;

	top: 0;
	height: 60px;
	z-index: 9999;
	transition: background-color 0.3s ease, backdrop-filter 0.3s ease;

	backdrop-filter: blur(0px);
}

.navbar.scrolled {
	background-color: rgba(var(--background), 0.7);
	backdrop-filter: blur(15px);
}

.logo {
	padding: 2px;
}

.logoLink {
	color: var(--text);
	transition: color 0.3s ease;
}

.logoLink:hover {
	color: var(--accent);
}

.navlinks {
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
}

.navlinks li {
	margin-right: 1rem;
}

.link {
	text-decoration: none;
}

.hamburger {
	display: none;
	flex-direction: column;
	justify-content: space-between;
	width: 25px;
	height: 20px;
	cursor: pointer;
}

.hamburger .line {
	width: 100%;
	height: 3px;
	background-color: black;
	border-radius: 20px;
}

@media screen and (max-width: 500px) {
	.hamburger {
		display: flex;
	}

	.navlinks {
		display: none;
	}
}
