/* src/components/Banner.module.css */
.banner {
	height: 90vh;
	display: flex;
	justify-content: center;
	/* align-items: center; */
	/* photo credits to https://unsplash.com/@priscilladupreez , uploaded to Unsplash */
	background-image: url('https://images.unsplash.com/photo-1523240795612-9a054b0db644?q=80&w=3540&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
	background-size: cover;
	background-position: center;
	color: var(--text-50);
	text-align: center;
	padding: 20px;
	position: relative;
}

.content {
	max-width: 800px;
	max-height: 200px;
	background-color: #4d4d4db3;
	padding: 50px;
	border-radius: 20px;
	margin-top: 30px;
	margin-left: 30px;
}

.title {
	font-size: 3rem;
	margin: 0;
	color: var(--text-950);
}

.subtitle {
	font-size: 2rem;
	margin-top: 5px;
	color: var(--text-850);
}

.paragraph {
	font-size: 1.2rem;
	color: var(--text-800);
}
